.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 1rem;
    display: flex;
    width: 90%;
    align-items: center;
}

.card mat-card-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

mat-form-field {
    width: 90%;
}

button {
    margin-bottom: 1rem;
    width: 120px;
}