.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 1rem;
}

.content mat-card-header {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.rnd-btn {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 0.8rem;
}

.bold {
    font-weight: bold;
}

.extra {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.1rem;
}

.extra p{
    font-size: 1rem;
    margin: 0;
}

.extra-btn {
    height: 1.5rem;
    margin-left: 0.5rem;
}