@import "../node_modules/@angular/material/theming";
@include mat-core();
@import "./theme.scss";

@include angular-material-theme($theming-material-components-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.answer-snackbar{
    white-space: pre-wrap;
    width: 400px !important;
}

.mat-mdc-snack-bar-handset, .mat-mdc-snack-bar-container, .mat-mdc-snack-bar-label{
    flex: inherit !important;
}
