/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.teamname-snackbar{
    white-space: pre-wrap;
    width: 200px !important;
}

.answer-snackbar{
    white-space: pre-wrap;
    width: 400px !important;
}

.mat-mdc-snack-bar-handset, .mat-mdc-snack-bar-container, .mat-mdc-snack-bar-label{
    flex: inherit !important;
}
