<div class="body">
    <mat-card class="content">
        <mat-card-header>{{roundDetails.roundNumber}}.forduló: {{roundDetails.roundName}}</mat-card-header>
        <div class="question" *ngFor="let question of roundDetails.questions; index as i">
            <div class="question-content" *ngIf="gameProcessState.questionNumber >= i + 1">
                <p [ngClass]="{'bold': i + 1 === gameProcessState.questionNumber}">
                    {{question.questionNumber}}. - {{question.questionText}} - {{question.fullScore}}p.
                </p>
                <div class="input-container">
                    <mat-form-field>
                        <input matInput placeholder="Írd be a választ" id="{{'answer' + i}}" required>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="rnd-btn"
                        (click)="sendAnswer(i , question.questionNumber)" id="{{'btn' + i}}">Elküld</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>