.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .content mat-card-header{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p{
    margin: 0;
  }

  .rules {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 1rem;
  }

  mat-divider {
    margin: 0.5rem;
  }