<div class="body">
  <mat-card class="content">
    <mat-card-header>Moha Kvíz</mat-card-header>
  </mat-card>
  <mat-card class="rules">
    <h2>A játék szabályai</h2>
    <p><strong>Bevezető kérdések:</strong></p>
    <p>Egyszerű bemelegítő kérdések. Csak válaszolj rájuk.<br>Megszerezhető maximum 6 pont.</p>
    <br>
    <mat-divider></mat-divider>
    <p><strong>Kapcsolatkör:</strong></p>
    <p>A forduló elején megjelenik egy beviteli mező, ahova azt a megfelejtést kell beírni, amivel a további 5 kérdés valamilyen szempontból összefügg.
      Minél előbb találod el a kapcsolat kérdést, annál több pontot kapsz érte. Az első kérdés után 5 pontot, az utolsónál már csak 1 pontot, stb.
      <br>Megszerezhető maximum 11 pont.</p>
    <br>
    <mat-divider></mat-divider>
    <p><strong>Háromból egyet:</strong></p>
    <p>A három meghatározás utal egyvalamire. Azt kell kitalálni. Pl három filmből ki kell találni azt a színészt amelyik mindben szerepelt.<br>Megszerezhető maximum 6 pont.</p>
    <br>
    <mat-divider></mat-divider>
    <p><strong>Anagrammák:</strong></p>
    <p>Egy anagrammából ki kell találni, vagy közvetlenül a szót, vagy a szóbol következtetni kell valamire vagy valakire.
      Pl.: aceton agyalás nemz - a nemzet csalogánya - Blaha Lujza
      <br>Megszerezhető maximum 11 pont.</p>
    <br>
    <mat-divider></mat-divider>
    <p><strong>ABCD:</strong></p>
    <p>Négy lehetséges válaszból kell kiválasztani a helyeset.<br>Megszerezhető maximum 6 pont.</p>
    <br>
    <mat-divider></mat-divider>
    <p><strong>Nullázó:</strong></p>
    <p>Az öt kérdésböl beírod azt amelyiket ugy gondolod hogy biztosan tudod, majd próbára elküldöd a játék mesternek.
       Ő megmondja van-e benne nullázó, azaz helytelen válasz. Második próba már élesben megy, ha az igy elküldött válaszokban van helytelen, az egész kör nulla pont.
      Ha minden válasz jó, a megválaszolt kérdésekre megkapod az értük járő pontot.<br>Megszerezhető maximum 10 pont.</p>
    <br>
    <mat-divider></mat-divider>
    <p>Összesen 50 pont szerezhető a játékban,</p>
  </mat-card>
</div>