.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 0.8rem;
}

.content mat-card-header {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.rnd-btn {
    font-size: 1rem;
    margin-left: 1rem;
    height: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1rem;
}

.input-container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.question-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-divider {
    margin: 0.5rem;
}

.send-btn{
    width: 150px;
    font-size: 1.2rem;
}
