@import "../../node_modules/@angular/material/theming";
@include mat-core();

//https://mui.com/material-ui/customization/color/
$my-primary: mat-palette($mat-teal, 800);
$my-accent: mat-palette($mat-light-green, 800);
$my-warn: mat-palette($mat-pink, 800);

$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

@include angular-material-theme($my-theme);