<div class="body">
    <mat-card class="content" *ngIf="allTeamScoreSummary">
        <mat-card-header>A csapatok pontjai</mat-card-header>
        <div class="inner" *ngFor="let scoreSummary of allTeamScoreSummary; index as i">
            <mat-divider></mat-divider>
            <p><strong>{{teamNames[i]}} csapat:</strong></p>
            <p *ngFor="let score of scoreSummary.teamScoresPerRound; index as f">
                {{f+1}}. forduló: {{score}} pont
            </p>
            <p class="sum">Összesen: {{allTeamTotal[i]}} pont</p>
        </div>
        <mat-divider></mat-divider>
    </mat-card>
</div>