on:
  workflow_dispatch:
  push:
    branches:
        - development

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [20.x]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install and build
        working-directory: ./MohaQuiz.Frontend
        run: npm install && npm run build --configuration production --output-path=dist
        
      - name: Deployment
        uses: jahbenjah/SmarterASP.NET-web-deploy@1.0.0.alpha.8
        with:
          website-name: mohaquiz1-001-site1
          app-pool-name: mohaquiz1-001
          server-computer-name: https://win6055.site4now.net:8172
          server-username: mohaquiz1-001
          server-password: M0h4qU1z
          source-path: MohaQuiz.Frontend/dist/MohaQuiz.Frontend/
          target-path: '\dist\'
          target-delete: false
