on:
  workflow_dispatch:
  push:
    branches:
        - development 

jobs:
  build_and_deploy:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [20.x]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        working-directory: ./MohaQuiz.Frontend
        run: |
             npm ci
             npm run build

      - name: Deploy
        uses: jahbenjah/SmarterASP.NET-web-deploy@1.0.0.alpha.8
        with:
          website-name: ${{ secrets.WEBSITE_NAME }}
          server-computer-name: ${{ secrets.SERVER_COMPUTER_NAME }}
          server-username: ${{ secrets.SERVER_USERNAME }}
          server-password: ${{ secrets.SERVER_PASSWORD }}
          source-path: '\MohaQuiz.Frontend\dist\'
          target-path: /wwwroot/
          target-delete: true
