on:
  workflow_dispatch:
  push:
    branches:
        - development

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install and build
        working-directory: ./MohaQuiz.Frontend
        run: npm install && npm run gh-build
