name: Publish

on:
  workflow_dispatch:
  push:
    branches:
    - master

env:
  WEBAPP_NAME: mohaquiz
  WEBAPP_PACKAGE_PATH: "./publish"

jobs:
  publish:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Restore
        run: dotnet restore ./MohaQuiz.sln

      - name: Build
        run: dotnet build ./MohaQuiz.sln --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./MohaQuiz.sln --configuration Release --no-build --output '${{ env.WEBAPP_PACKAGE_PATH }}'

      - name: Deployment
        uses: jahbenjah/SmarterASP.NET-web-deploy@1.0.0.alpha.2
        with:
          website-name: mohaquiz1-001-site1
          app-pool-name: mohaquiz1-001
          server-computer-name: https://win6055.site4now.net:8172
          server-username: mohaquiz1-001
          server-password: M0h4qU1z
          source-path: publish
          target-path: /site1/
          target-delete: true
