name: Publish

on:
  workflow_dispatch:
  push:
    branches:
    - master

env:
  WEBAPP_NAME: mohaquiz
  WEBAPP_PACKAGE_PATH: "./publish"

jobs:
  publish:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Restore
        run: dotnet restore ./MohaQuiz.sln

      - name: Build
        run: dotnet build ./MohaQuiz.sln --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./MohaQuiz.sln --configuration Release --no-build --output '${{ env.WEBAPP_PACKAGE_PATH }}'

      - name: Deployment
        uses: jahbenjah/SmarterASP.NET-web-deploy@1.0.0.alpha.2
        with:
          publish-profile: ${{ secrets.MOHAQUIZ1_PUBLISH_PROFILE }}
