name: Test

on:
  workflow_dispatch:
  push:
    branches:
    - development

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore ./MohaQuiz.sln
    - name: Build
      run: dotnet build ./MohaQuiz.sln --no-restore
    - name: Test
      run: dotnet test ./MohaQuiz.Test/MohaQuiz.Test.csproj --no-build --verbosity normal --logger:"xunit;LogFilePath=/home/runner/work/MohaQuiz/MohaQuiz/MohaQuiz.Test/test_results.xml"
    - name: Test Report
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        xunit_files: "/home/runner/work/MohaQuiz/MohaQuiz/MohaQuiz.Test/test_results.xml"